- column_width = 300
- column_padding = 10
- column_margin = 10
- photo_padding = 10
- photo_margin = 10

%div.photos
  - @photos.each_slice((@photos.count/3.0).ceil) do |photo_slice|
    %div.photos_column{:style=>"float:left; background:#b4b4b4; width:#{column_width}px;"}
      - photo_slice.each do |photo|
        %div{:class=>"photo", :id=>photo.id, :style=>"margin:#{photo_margin}px; padding:#{photo_padding}px" }
          = link_to image_tag(photo.media.thumbnails[2].url, :style=>"width:#{column_width-(photo_padding+photo_margin)-(column_padding+column_margin)}px"), photo.content.src+"?imgmax="+photo.width.to_s, :rel=>"lightbox[album]", data: { lightbox: 'album' }
          %br
          = photo.media.description if photo.media.description
#top_link{:style=>"clear:both;padding-top:50px;padding-left:25px"}
  = link_to "^Back to Top^", "#top_link", {:style=>"float: right;padding-right: 10px;"}