- thumbnail_width = 275
- thumbnail_height = 300
- column_padding = 10
- column_margin = 10
- album_padding = 10
- album_margin = 3
:javascript
  var album_id = "#{params[:album_id]}"

- @albums.each_slice(3) do |album_slice|
  %div{:style=>"float:left; width:100%;margin-left: 105px;"}
    - album_slice.each do |album|
      %div{:class=>"album", :id=>album.id, :numphotos=>album.numphotos, :style=>"border: 1px solid black; float:left;"}
        - thumbnails = []
        - @photos = picasa_client.album.show(album.id).photos
        - @photos.each do |photo|
          - thumbnails << photo.media.thumbnails[2].url
        %div{:class=>"thumbnail", :style=>"background:none; ", "data-thumbnails"=> thumbnails.join(',') }
          %div{:class=>"border", :style=>""}
            = link_to image_tag(album.media.thumbnails[0].url), "/galleries/picasa/albums/#{album.id}"
        %div.description
          = link_to "#{album.title}(#{album.numphotos})", "/galleries/picasa/albums/#{album.id}"
        - if album.summary
          %br
            = album.summary
%p{:id => "contact"}
  Ring Me // 
  = link_to "0402 163 423", "tel:0402163423"
  %br
  Mail Me //
  = link_to "olivelinlin@gmail.com", "mailto:olivelinlin@gmail.com?Subject=Portfolio"