- thumbnail_width = 144
- column_padding = 10
- column_margin = 10
- album_padding = 10
- album_margin = 10
:javascript
  var album_id = "#{params[:album_id]}"
= javascript_include_tag "galleries/view.js"

%p#notice= notice

- if params[:id] == "picasa"
  - @albums.each_slice(3) do |album_slice|
    %div{:style=>"float:left"}
      - album_slice.each do |album|
        %div{:class=>"album", :id=>album.id, :numphotos=>album.numphotos, :style=>"border: 1px solid black; float:left;"}
          - thumbnails = []
          - @photos = @client.album.show(album.id).photos
          - @photos.each do |photo|
            - thumbnails << photo.media.thumbnails[2].url
          %div{:class=>"thumbnail", :style=>"background:none; width:#{thumbnail_width}px;", "data-thumbnails"=> thumbnails.join(',') }
            = link_to image_tag(album.media.thumbnails[0].url), "/galleries/picasa/albums/#{album.id}"
          = link_to "#{album.title}(#{album.numphotos})", "/galleries/picasa/albums/#{album.id}"
          - if album.summary
            %br
              = album.summary
      
- else
  %p
    %b Title:
    = @gallery.title
  %p
    %b Description:
    = @gallery.description

  = link_to 'Edit', edit_gallery_path(@gallery)
  \|
  = link_to 'Back', galleries_path
