<!DOCTYPE html>
<html>
<head>
  <title>Olive Lin's Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat+Subrayada' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="body">
    <div id="main">
      <%= link_to image_tag("title.gif", :id => "title"), root_url, :id => "title" %>
      <%= yield %>
    </div>
  </div>

</body>
</html>
